body {
    background-image: url('https://img.freepik.com/fotos-gratis/luzes-de-neon-gradientes-abstratas_23-2149279137.jpg?w=740&t=st=1693468593~exp=1693469193~hmac=650a990dd8cf54ba7b355067a12dd0ee191cf8a9ac5e0ffd8fbb78b3c17423e5');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }